<footer class="footer text-muted" style="background-color: #222222;">
        <div class="container">
            &copy; 2021 -PugPunch - <a href="http://gph.is/1FWEykd" class="text-light">Privacy</a>
        </div>
</footer>